<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Addcategory.css">
</head>
<body>
    <div class="form-container">
    <h2 class="form-heading">➕ Add Category</h2>
    <form action="/add-category" method="POST" class="form-box">

      <div class="form-group">
        <label for="categoryId">Category ID</label>
        <input type="text" id="categoryId" name="categoryId" required class="form-input" />
      </div>

      <div class="form-group">
        <label for="categoryName">Category Name</label>
        <input type="text" id="categoryName" name="categoryName" required class="form-input" />
      </div>

      <button type="submit" class="form-button">Add Category</button>

    </form>
  </div>

</body>

</body>
</html>