<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="HomePage.css">
</head>
<body>
    <div class="container">
         <%-include("navbar.ejs")%>
      
       <div class="back_image">

       
  <div class="btn-div">
    <button class="btn"><a href="/Login">Get Started</a></button><br>
    <h3>"Read, explore, manage. Your library, your way."</h3>
  </div>
  </div>
    </div>
</body>
</html>