
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, proxy-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Surrogate-Control" content="no-store" />
<nav class="navbar fixed-top">
  <div class="logo">
    <img src="logo1.webp" alt="">
    <span class="logo-text">DIGITAL LIBRARY</span>
  </div>
  <ul>
    <li><a href="/"><i class="bi bi-house-door-fill"></i> Home</a></li>
    <!-- <li><a href="#"><i class="bi bi-info-circle"></i> About Us</a></li>
    <li><a href="#"><i class="bi bi-journal-bookmark"></i> View Books</a></li> -->
    <li><a href="logout" class="logout-btn"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
  </ul>
</nav>

<script>
  window.addEventListener("pageshow", function (event) {
    const navType = performance.getEntriesByType("navigation")[0]?.type;

    if (event.persisted || navType === "back_forward") {
      console.log("Blocked back navigation after logout");
      window.location.replace("/Login");
    }
  });

  window.history.pushState(null, "", window.location.href);
  window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
    window.location.replace("/Login");
  };
</script>
