
    <nav class="navbar fixed-top">
  <div class="logo"><img src="logo1.webp" alt=""><span class="logo-text">DIGITAL LIBRARY</span></div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">View Books</a></li>
    <li><a href="/Login">Login</a></li>
  </ul>
</nav>