<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
 
     <nav class="navbar">
  <div class="logo"><img src="logo1.webp" alt=""><span class="logo-text">DIGITAL LIBRARY</span></div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">View Books</a></li>
    <li><a href="/Login">Login</a></li>
  </ul>
</nav>
</body>
</html>