/* Full-screen background container */
.back_image {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button style */
.btn-div {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); /* transparent dark overlay */
  padding: 20px;
  border-radius: 10px;
  
}

.btn {
  padding: 12px 24px;
  background-color: #007bff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

h3 {
  color: white;
  margin-top: 15px;
}


/* card css */
 .card-img-top {
    height: 300px;      /* Set your desired height */
    object-fit: cover;  /* Ensures image fills space without distortion */
  }
  .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* footer */
 .card-img-top {
    height: 300px;
    object-fit: cover;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
/* footer */
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }