* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
      min-height: 100vh;
    }

    /* Navbar */
    

    /* Layout */
    .container {
      display: flex;
      min-height: calc(100vh - 60px);
    }

    .sidebar {
      width: 260px;
      background-color: #fff;
       /* background-color: #c5cae9; */
      padding: 20px;
      /* margin-top: 20px; */
      border-right: 1px solid #ddd;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    }

    .sidebar .section {
      margin-bottom: 20px;
    }

    .section-title {
      font-size: 18px;
      font-weight: bold;
      color: #4a148c;
      cursor: pointer;
      margin-bottom: 5px;
      padding: 8px 10px;
      background-color: #ede7f6;
      border-radius: 6px;
      transition: background 0.3s;
    }

    .section-title:hover {
      background-color: #d1c4e9;
    }

    .links {
      display: none;
      padding-left: 15px;
      margin-top: 5px;
    }

    .links a {
      display: block;
      text-decoration: none;
      color: #333;
      font-size: 15px;
      padding: 6px 10px;
      margin-bottom: 5px;
      background-color: #f3f4f6;
      border-radius: 4px;
      transition: all 0.3s ease;
    }

    .links a:hover {
      background-color: #c5cae9;
      color: #000;
    }

    /* .main-content {
      flex: 1;
      padding: 40px;
      background-color: #f8f9fa;
    }

    .main-content h2 {
      color: #4a148c;
      margin-bottom: 10px;
    } */
   