.section-title {
  font-size: 17px;
  font-weight: 600;
  background-color: #ece8f7;
  padding: 10px 14px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #4a148c;
  cursor: pointer;
  transition: background 0.3s;
}
.section-title:hover {
  background-color: #d1c4e9;
}

.links a {
  display: block;
  padding: 8px 12px;
  margin-bottom: 6px;
  background-color: #f3f0fa;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
.links a:hover {
  background-color: #b39ddb;
  color: white;
}
